# --- Core Frameworks ---
Django==5.2.1
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-filter==25.2
python-dotenv==1.2.1
psycopg2-binary==2.9.10  # Essencial para o Postgres no Docker

# --- IA e LangChain (A tríade que funciona) ---
langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-google-genai==2.0.1
langchain-chroma==0.1.4
chromadb>=0.5.0
pypdf==5.1.0
openai==2.16.0

# --- Worker e Cache ---
celery==5.6.2
redis==7.1.0

# --- Utils ---
requests==2.32.5
PyYAML==6.0.3
drf-spectacular==0.29.0

psycopg2-binary